<button id="sing-in" type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target=".bs-example-modal-sm">
    <i *ngIf="!submitted" class="fa fa-user-o" aria-hidden="true"></i> <span *ngIf="!submitted">Войти</span>
    <i *ngIf="submitted" class="fa fa-sign-out" aria-hidden="true"></i> <span *ngIf="submitted">Выйти</span>
</button>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="login-form">
                <h1>Snakes</h1>
                <p style="margin-bottom: 10px; color: #028fcc;">Authorization and registration (If user does not exist - it will be created).</p>
                <div *ngIf="!submitted" class="form-group">
                    <input #login type="text" class="form-control" placeholder="Username" id="UserName" (keyup)="onKeyLogin(login.value)">
                    <i class="fa fa-user"></i>
                </div>
                <div  *ngIf="!submitted" class="form-group log-status">
                    <input #pass type="password" class="form-control" placeholder="Password" id="Passwod" (keyup)="onKeyPass(pass.value)">
                    <i class="fa fa-lock"></i>
                </div>

                <div *ngIf="submitted" class="container">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Login: </label><span>{{userData.username}}</span><br>
                    <!--<label><i class="fa fa-star" aria-hidden="true"></i> Best score: </label><span> 0 </span><br>-->
                    <label><i class="fa fa-gamepad" aria-hidden="true"></i> Games played: </label><span>{{userData.gamePlayed}}</span><br>
                    <label style="margin-bottom: 10px"><i class="fa fa-calendar" aria-hidden="true"></i>
                        Registration: </label><span>{{userData.created}}</span><br>
                </div>

                <button type="button" class="log-btn" (click)="onSubmit()">
                    <span *ngIf="!submitted">Log in</span>
                    <span *ngIf="submitted">Log out</span>
                </button>
            </div>

        </div>
    </div>
</div>